/* Pour importer les fonts de notre dossier fonts */
@font-face{
    font-family: 'Poppins';
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face{
    font-family: 'Chewy';
    src: url("/fonts/Chewy-Regular.ttf") format("truetype");
}


@theme {
    /* Fonts */
    --font-poppins : 'Poppins';
    --font-chewy : 'Chewy';

    /* Couleur principale */
    --color-main-50: #f2fbf8;
    --color-main-100: #d4f3e8;
    --color-main-200: #a8e7d3;
    --color-main-300: #74d4b9;
    --color-main-400: #44b397;
    --color-main-500: #2e9e84;
    --color-main-600: #237e6a;
    --color-main-700: #1f6658;
    --color-main-800: #1d5248;
    --color-main-900: #1c453d;
    --color-main-950: #0b2824;

    /* Couleur secondaire */
    --color-secondary-50: #fff8eb;
    --color-secondary-100: #feebc7;
    --color-secondary-200: #fdd68a;
    --color-secondary-300: #fdba4c;
    --color-secondary-400: #fca937;
    --color-secondary-500: #f67d0a;
    --color-secondary-600: #da5905;
    --color-secondary-700: #b53a08;
    --color-secondary-800: #922d0e;
    --color-secondary-900: #78260f;
    --color-secondary-950: #451103;

}